# Project

#### Applied Statistics Project Notebook

In [1]:
#Imports

import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1. Download and save the dataset

In [2]:
# import and save as a CSV file
URL = 'https://vincentarelbundock.github.io/Rdatasets/csv/datasets/PlantGrowth.csv'
FILENAME = 'data/plant_growth.csv'
# load into pandas dataframe
df = pd.read_csv(URL)

# export to data folder
df.to_csv(FILENAME, sep=',', index=False, encoding='utf-8')

### 2. Describe the data set

The PlantGrowth dataset in R is a simple and commonly used dataset for illustrating statistical analysis, especially ANOVA (Analysis of Variance). It contains data from an experiment on the effect of different treatments on the growth of plants.

In [3]:
# run describe on the data set
df.describe()

        rownames     weight
count  30.000000  30.000000
mean   15.500000   5.073000
std     8.803408   0.701192
min     1.000000   3.590000
25%     8.250000   4.550000
50%    15.500000   5.155000
75%    22.750000   5.530000
max    30.000000   6.310000

In [4]:
# split dataset according to groups
df_ctrl = df[df['group'] == 'ctrl']
df_ctrl

   rownames  weight group
0         1    4.17  ctrl
1         2    5.58  ctrl
2         3    5.18  ctrl
3         4    6.11  ctrl
4         5    4.50  ctrl
5         6    4.61  ctrl
6         7    5.17  ctrl
7         8    4.53  ctrl
8         9    5.33  ctrl
9        10    5.14  ctrl

In [5]:
# split dataset according to groups
df_trt1 = df[df['group'] == 'trt1']
df_trt1

    rownames  weight group
10        11    4.81  trt1
11        12    4.17  trt1
12        13    4.41  trt1
13        14    3.59  trt1
14        15    5.87  trt1
15        16    3.83  trt1
16        17    6.03  trt1
17        18    4.89  trt1
18        19    4.32  trt1
19        20    4.69  trt1

In [6]:
# split dataset according to groups
df_trt2 = df[df['group'] == 'trt2']
df_trt2

    rownames  weight group
20        21    6.31  trt2
21        22    5.12  trt2
22        23    5.54  trt2
23        24    5.50  trt2
24        25    5.37  trt2
25        26    5.29  trt2
26        27    4.92  trt2
27        28    6.15  trt2
28        29    5.80  trt2
29        30    5.26  trt2

In [7]:
# run describe on each new data set
print(df_ctrl.describe())
print(df_trt1.describe())
print(df_trt2.describe())

       rownames     weight
count  10.00000  10.000000
mean    5.50000   5.032000
std     3.02765   0.583091
min     1.00000   4.170000
25%     3.25000   4.550000
50%     5.50000   5.155000
75%     7.75000   5.292500
max    10.00000   6.110000
       rownames     weight
count  10.00000  10.000000
mean   15.50000   4.661000
std     3.02765   0.793676
min    11.00000   3.590000
25%    13.25000   4.207500
50%    15.50000   4.550000
75%    17.75000   4.870000
max    20.00000   6.030000
       rownames     weight
count  10.00000  10.000000
mean   25.50000   5.526000
std     3.02765   0.442573
min    21.00000   4.920000
25%    23.25000   5.267500
50%    25.50000   5.435000
75%    27.75000   5.735000
max    30.00000   6.310000

### 3. Describe what a t-test is, how it works, and what the assumptions are.

A t-test is a statistical test used to determine if there is a significant difference between the means of two groups. It helps evaluate whether observed differences in sample means are likely to have occurred by chance, or if they reflect real differences in the populations being compared. The test is particularly useful when the sample size is small, and the population standard deviation is unknown.

There are different types of t-tests depending on the situation:

1. One-sample t-test: Compares the mean of a single sample to a known value or theoretical population mean.
2. Independent two-sample t-test: Compares the means of two independent groups (e.g., treatment vs. control).
3. Paired t-test: Compares the means of two related groups (e.g., before and after a treatment on the same individuals).

### 4. Perform a t-test to determine whether there is a significant difference between the two treatment groups trt1 and trt2.

### 5. Perform ANOVA to determine whether there is a significant difference between the three treatment groups ctrl, trt1, and trt2.

### 6. Explain why it is more appropriate to apply ANOVA rather than several t-tests when analyzing more than two groups.